body {
    margin: 0; /* Usuwanie odstępów zewn. */
    padding: 0; /* Usuwanie odstępów wewn. */
    background: url('../img/back_homepage.jpg') center/cover no-repeat local; /* Tło zapełnia ekran, nie powtarza się, jest statyczne */
    height: 110vh; /* Wysokość przewijania */
    display: flex; /* Zastosowanie flexbox do body */
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Treść zaczyna się od góry */
}

.center-content {
    display: flex; /* Zastosowanie flexbox do kontenera */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Pozycje względem normalnej pozycji */
    width: 100%; /* 100% szerokości rodzica */
    height: 130%; /* wysokość kontenera (o 30% wyżej rodzica)*/
    flex: 1; /* Centrowanie treśći */
}

.background-circle {
    position: absolute;
    top: 30%; /* Przesunięcie górne */
    left: 50%;
    transform: translate(-50%, -50%); /* center */
    width: 300px; /* szerokość */
    height: 300px; /* wysokość */
    background-color: rgba(255, 255, 255, 0.7); /* tło */
    border-radius: 50%; /* zaokręglenie */
    animation: fadeInBackground 2s ease-in-out forwards;
    opacity: 0; /* stan początkowy niewidoczny */
    z-index: 0; /* warstwa */
}

.logo-container {
    display: flex; /* Zastosowanie flexbox do kontenera */
    align-items: center;
    justify-content: center;
    position: relative;
    top: -20%; /* Przesunięcie do góry o 20% od wysokości rodzica */
}

.center-logo {
    width: 350px; /* rozmiar logo */
    cursor: pointer; /* Pokazuje że element to link */
    z-index: 1; /* warstwa logo(powirzch backgr) */
    animation: appearAndTransform 3s ease-in-out forwards;
    margin-right: 20px; /* odstęp pomiędzy logo a Log In */
}

.events-button, .login-button {
    display: inline-block;
    padding: 10px 20px; /* Odstępy w środku przyciska */
    background-color: rgba(255, 255, 255, 0.7); /* półprzezroczyste białe tło */
    color: #000;
    text-decoration: none; /* linki nie podkreśliają się */
    border-radius: 25px; /* ZAokręglenia */
    font-size: 42px;
    font-weight: bold;
    z-index: 1; /* Warstwa */
    opacity: 0; /* stan początkowy niewidoczny */
}

.login-button {
    margin-left: 80px; /* odstęp między Log In a logo */
    animation: fadeInButton 10s ease-in-out forwards;
}

.events-button {
    margin-right: 80px; /* odstęp między Events a logo */
    animation: fadeInButton 6s ease-in-out forwards;
}

.authors {
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    margin-top: auto; /* Pozwala trzymać treść na dole strony */
    padding: 20px 0; /* Odstęp od dołu */
    width: 100%;
}

.author-button {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.7); /* półprzezroczyste białe tło */
    color: #000;
    text-decoration: none; /* linki nie podkreśliają się */
    border-radius: 15px;
    font-size: 24px;
    font-weight: bold;
}

/* nadpisywanie dokładnych działań animacji(etapy obracania się logo) */
@keyframes appearAndTransform {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(0deg);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}

/* nadpisywanie dokładnych działań animacji(etapy pojawiania się tła logo) */
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

/* nadpisywanie dokładnych działań animacji(etapy pojawiania się tła przycisków) */
@keyframes fadeInButton {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}