html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Dodaj to, aby wymusić przewijanie */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/back_homepage.jpg') no-repeat center center fixed;
    background-size: cover;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1; /* Sprawia, że treść zajmuje dostępne miejsce */
}

.logout-wrapper {
    position: absolute;
    top: 1px;
    right: 10px;
    z-index: 1000;
}

nav {
    width: 100%; /* Zmieniono na 100%, aby dopasować do szerokości ekranu */
    margin-top: 20px; /* Dostosuj wartość, aby przesunąć logo w górę lub w dół */
}

nav a {
    display: block;
    margin: 0 auto;
}

main, footer {
    width: 100%;
    flex-shrink: 0; /* Zapobiega kurczeniu się głównej zawartości i stopki */
}

.footer {
    margin-top: auto;
    padding: 10px;
    text-align: center;
}
