body {
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}

img {
    max-width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #007BFF;
}

h1, h2 {
    margin: 0;
}

div {
    margin: 20px 0;
}
