<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.4.0/css/pico.min.css">          <!-- Import szablonu FrontEnd -->
</head>
<body>
<nav class="container-fluid">
    <a href="{% url 'list_events' %}" class="contrast">
<img src="{% static 'img/logo.png' %}" alt="Evently" style="max-width: 200px; height: auto;">

    </a>
    <ul>
        {% if user.is_authenticated %}
            <li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="contrast">Wyloguj się</button>
                </form>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}" class="contrast">Zaloguj się</a></li>
        {% endif %}
    </ul>
</nav>


<main class="container mt-4">
    {% block content %}
    {% endblock %}
</main>
    <footer>
        <!-- Stopka -->
    </footer>

</body>
</html>