<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.4.0/css/pico.min.css">
    <link rel="stylesheet" href="{% static 'css/logout.css' %}">

</head>
<body>
<div class="logout-wrapper">
    <nav>

        <ul>
            {% if user.is_authenticated %}
                <li>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="logout-button btn btn-primary">Log Out</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}" class="logout-button btn btn-primary">Log In</a></li>
            {% endif %}
        </ul>


    </nav>
</div>
<div class="content-wrapper">
    <nav>
        <a href="{% url 'list_events' %}" class="contrast">
            <img src="{% static 'img/czarne_logo.png' %}" alt="Evently" style="width: 300px; height: auto;">
        </a>
    </nav>
</div>

<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    <!-- Stopka -->
</footer>



</body>
<h3>
    𝔸𝕦𝕥𝕠𝕣𝕤:
    <a href="{% url 'Roger' %}" class="contrast"> ℝ𝕠𝕘𝕖𝕣 𝕊𝕫𝕨𝕒𝕛𝕒</a>
    𝕒𝕟𝕕
    <a href="{% url 'Artem' %}" class="contrast"> 𝔸𝕣𝕥𝕖𝕞 𝕄𝕠𝕟𝕜𝕚𝕖𝕨𝕚𝕔𝕫</a>
</h3>
</html>
