{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>Delete this comment</h1>
        <p>Are you sure you want to delete the comment?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="background-color: red; border-color: red;">Delete</button>
            <a href="{% url 'full_event_description' comment.event.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
