{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>Delete this event</h1>
        <p>Are you sure you want to delete the event? "{{ event.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="background-color: red; border-color: red;">Delete
            </button>
            <button type="button" class="btn btn-secondary"
                    onclick="window.location.href='{% url 'detail_event' event.id %}'">Cancel deletion
            </button>
        </form>
    </div>
{% endblock %}