{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Lista wydarzeń do zaakceptowania</h1>

        <link rel="stylesheet" type="text/css" href="{% static 'css/styles_list_events.css' %}">

        <table role="grid">
            <tbody>
            {% for event in events %}
                <tr>
                    <td colspan="6">
                        <h2>
                            <a href="{% url 'detail_event' event.id %}" class="btn btn-secondary">
                                {{ event.name }}
                            </a>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td><h6>Miejsce:</h6> {{ event.place }}</td>
                    <td><h6>Data rozpoczęcia:</h6> {{ event.start_at }}</td>
                    <td><h6>Data zakończenia:</h6> {{ event.end_at }}</td>
                    <td><h6>Organizator:</h6> {{ event.author.username }}</td>
                </tr>
                <tr>
                    <td colspan="6">{{ event.description|truncatewords:50 }}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <button type="button" class="contrast accept-btn" data-event-id="{{ event.id }}">
                            Akceptuj wydarzenie
                        </button>
                        <button type="button" class="contrast reject-btn" data-event-id="{{ event.id }}">
                            Odrzuć wydarzenie
                        </button>
                    </td>
                </tr>
                <tr style="height: 200px;"></tr> 
            {% empty %}
                <tr>
                    <td colspan="6">Brak wydarzeń do zaakceptowania.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/update_event_status.js' %}"></script>
{% endblock %}
