{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Lista wydarzeń</h1>

        <!-- Formularz wyszukiwania -->
        {% include 'search_form_list.html' %}

        <!-- Tabela z wynikami wyszukiwania -->
        {% include 'search_results_list.html' %}

        <script>
            document.querySelectorAll('.subscribe-btn').forEach(button => {
                button.addEventListener('click', function () {
                    const eventId = this.getAttribute('data-event-id');
                    const formId = `#subscribeForm${eventId}`;
                    document.querySelector(formId).submit();
                });
            });
        </script>
{% endblock %}