

{% extends 'base.html' %}

{% load static %}

{% block title %}User Profile{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>User Profile</h1>
        <h2>{{ user.username }}</h2>
    </div>
    <div>
        <p><strong>First Name:</strong> {{ user.first_name }}</p>
        <p><strong>Last Name:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>

    <!-- Dodanie sprawdzania i przycusku do profilu -->
    <a href="/search/?query=&search_type=all&place=&category=&organizer={{ user.id }}&start_date=&end_date=">
        <button>Your events</button>
    </a>
    <a href="{% url 'create_event' %}">
        <button>Create a new event</button>
    </a>
    <a href="{% url 'user_subscriptions' user.id %}">
        <button>Your subscriptions</button>
    </a>


{% endblock %}
