<form method="GET" action="{% url 'search_event' %}">
    <input type="text" name="query" placeholder="Wpisz nazwę eventu" value="{{ form.query.value|default_if_none:'' }}">

    <select name="search_type">
        <option value="all" {% if form.search_type.value == "all" %}selected{% endif %}>Wszystkie</option>
        <option value="future" {% if form.search_type.value == "future" %}selected{% endif %}>Przyszłe</option>
        <option value="ongoing_future" {% if form.search_type.value == "ongoing_future" %}selected{% endif %}>Trwające i przyszłe</option>
        <option value="past" {% if form.search_type.value == "past" %}selected{% endif %}>Przeszłe</option>
    </select>

    <select name="place">
        <option value="" {% if not form.place.value %}selected{% endif %}>Wybierz miejsce</option>
        {% for place in form.place.field.queryset %}
            <option value="{{ place }}" {% if form.place.value == place %}selected{% endif %}>{{ place }}</option>
        {% endfor %}
    </select>

    <select name="category">
        <option value="" {% if not form.category.value %}selected{% endif %}>Wybierz kategorię</option>
        {% for category in form.category.field.queryset %}
            <option value="{{ category.id }}" {% if form.category.value == category.id %}selected{% endif %}>{{ category.name }}</option>
        {% endfor %}
    </select>

    <select name="organizer">
        <option value="" {% if not form.organizer.value %}selected{% endif %}>Wybierz organizatora</option>
        {% for organizer in form.organizer.field.queryset %}
            <option value="{{ organizer.id }}" {% if form.organizer.value == organizer.id %}selected{% endif %}>{{ organizer.username }}</option>
        {% endfor %}
    </select>

    <label for="start_date">Data rozpoczęcia</label>
    <input type="date" name="start_date" value="{{ form.start_date.value|default_if_none:'' }}">

    <label for="end_date">Data zakończenia</label>
    <input type="date" name="end_date" value="{{ form.end_date.value|default_if_none:'' }}">

    <button type="submit">Szukaj</button>
</form>